---
import { cn } from '@/lib/utils';

interface Props {
  title: string;
  description?: string;
  className?: string;
  titleClassName?: string;
  descriptionClassName?: string;
  showDivider?: boolean;
}

const {
  title,
  description,
  className,
  titleClassName,
  descriptionClassName,
  showDivider = false,
} = Astro.props;
---

<div class={cn('mb-8 space-y-4', className)}>
  <h1
    class={cn('text-2xl font-bold tracking-tight sm:text-3xl', titleClassName)}
  >
    {title}
  </h1>
  {showDivider && <hr class="max-w-48 mx-auto border-border" />}
  {
    description ? (
      <p class={cn('max-w-3xl text-muted-foreground', descriptionClassName)}>
        {description}
      </p>
    ) : null
  }
</div>
